// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.coller-home {
    margin: 0rem 15rem;
    margin-top: 30px;
}

.middle-box {
    width: 500px;
    border: 1px solid black;
    padding: 50px;
    margin: 20px 650px;
}

img {
    max-width: 100%;
    margin-bottom: 3em;
}